body{
    background-color: pink;
}
.content-fluid{
    width: 80%;
    margin: auto;
}
/* table{
    width: 60%;
    margin: auto;
} */
h1, th, td{
    text-align: center;
}
div#toDo, div#down, input, button{
    /* width: 100%; */
    text-align: center;
}
#timerStart, #timerPause{
    width: 35%;
    margin: 0.5rem;
}
